<div class="row">
    <div class="col-md-6">
        {{ form_row(form.ingredient) }}
    </div>
    <div class="col-md-6 d-flex align-items-end gap-2">
        {{ form_row(form.quantity) }}
        <div class="ingredient-unit"></div>
    </div>
</div>

