{# Template pour le prototype d'un nouvel ingrédient #}
<div class="ingredient-item mb-3 p-3 border rounded">
    <div class="row">
        <div class="col-md-5 mb-2">
            {{ form_row(form.ingredient) }}
        </div>
        <div class="col-md-5 mb-2">
            {{ form_row(form.quantity) }}
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button type="button" class="btn btn-danger btn-sm"
                    data-action="collection#remove">
                <i class="fas fa-trash-alt"></i>
            </button>
        </div>
    </div>
</div>

