<form method="post" action="{{ path('app_shopping_list_delete', {'id': shopping_list.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette liste ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shopping_list.id) }}">
    <button class="btn btn-danger">
        <i class="fas fa-trash-alt me-1"></i>
        Supprimer
    </button>
</form>
